.footer {
    background: rgb(61, 62, 63);
    color: aqua;
    height: 300px;
    position: relative;
    width: 100%;
    margin-bottom: none;
}
.footer .footer-bottom {
    background-color: brown;
    color: chartreuse;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}
.footer .footer-content {
    border: 1px solid brown;
    height: 100%;
    position: absolute;
}

html, body {
    height: 100%;
}