*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .content{
    height: 400px;
    width: 1000px;
    margin-left: 180px;
    margin-right: 100px;
    position: relative;
    padding-bottom: 20px;
  }
  .content .images{
    height: 100%;
    width: 100%;
  }
  .content .images img{
    height: 100%;
    width: 100%;
  }
  .btm-slides{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .btm-slides span{
    height: 15px;
    width: 50px;
    border: 2px solid white;
    margin: 0 3px;
    cursor: pointer;
  }
  .sliders{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    cursor: pointer;
    border: 2px solid white;
    background: rgba(255,255,255,0.1);
  }
  .sliders:hover{
    background: rgba(255,255,255,0.2);
  }
  .right{
    right: 0;
  }
  .sliders span{
    line-height: 41px;
    font-size: 35px;
    color: white;
  }
  .lifestyle { padding: 5%;
    font-size: 14px;
    font-family: 'fedra', 'helvetiva Neue', 'Helvetica';
    margin: 1em;
    background-color: white;
    margin-left: 15%;
    padding-right: 5px;
    padding-left: 10px;
    padding-top: 5px;
    width: 880px;
    margin-top: 5px;
}

.arenas img{
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 5px;
}

